<!--{template header}-->
<script type="text/javascript" src="{SITE_URL}static/js/neweditor/ueditor.config.js"></script> 
<script type="text/javascript" src="{SITE_URL}static/js/neweditor/ueditor.all.min.js"></script> 

<!--用户中心-->

<div class="user-home bg-white">
    <div class="container">
 <form class="form-horizontal mar-t-1" action="{url user/addxinzhi}"  method="post" enctype="multipart/form-data">
    <div class="row">
                 <div>
                     <div class="dongtai">
                         <p>
                             <strong class="font-18">发表文章</strong>
                         </p>
                         <hr>
                      
                       <input type="hidden" name="topicclass" value="{$topic['articleclassid']}" id="topicclass"/>
                       <input type ="hidden" name="cid1" value="0" id="cid1" />
                         <input type="hidden" name="cid2" value="0" id="cid2" />
                         <input type="hidden" name ="cid3" value="0" id="cid3" />
       <input type="hidden" name="upimg" id="upimg" value="{$topic['image']}"/>
             <input type="hidden" name="views" value="{$topic['views']}"/>
     {if isset($topic['id'])}
    <input type="hidden" value="{$topic['id']}" name="id" />
     <input type="hidden" value="{$topic['isphone']}" name="isphone" />
    <input type="hidden" value="{$topic['image']}" name="image" />
    {/if}              
                     
         <div class="form-group">
         
          <div class="col-md-24 has-error">
            <input type="text" name="title" value="{$topic['title']}" size="50" class="title" placeholder="文章标题不能为空">
            <div class="help-block alert alert-primary ">
           
   
     <div class="bar_l">
                     
                        <span><a  class="btn btn-success"   id="changecategory" href="javascript:showcategory()">选择文章分类</a>
                     <span id="selectedcate" class="selectedcate mar-lr-1">$catmodel['name']</span>
 </span>
   </div>
            </div>
          </div>
        </div>
         <div class="form-group">
          <p class="col-md-24  text-left fl">  文章标签,多个用英文逗号隔开,最多5个:</p>
          <div class="col-md-24 has-error">
            <input type="text" data-toggle="tooltip" data-placement="bottom" title="" placeholder="标签之间英文逗号隔开" data-original-title="英文逗号隔开,最多5个" name="topic_tag" value="{$topic['topic_tag']}"  class="txt_tag" >
         
          </div>
        </div>
                       <div class="form-group">
          <p class="col-md-24  text-left fl">文章描述:</p>
          <div class="col-md-24 has-error">
          
   <script type="text/plain" id="mycontent" name="desc" style="width:100%;height:300px;">{$topic['describtion']}</script>
                                             
                                                
                                                  <script type="text/javascript">
                                          var editor =   UE.getEditor('mycontent');
                                          </script>
          </div>
        </div>
       
        
      
                    
                    
                    
                     </div>

<div>
    <div class="form-group">
        <div class=" col-md-3">
            <span>封面默认:</span>
        </div>
        <div class=" col-md-20">

            <span>
                <input class="normal_checkbox" id="radio1" onclick="systemchoose()" type="radio" value="1" name="fengmian" <!--{if 1==$userinfo['defaultcover']}-->checked<!--{/if}--> />系统帮我自动默认</span>
            <span style="margin-left: 50px">
                <input class="normal_checkbox" id="radio2" onclick="selfchoose()" type="radio" value="2" name="fengmian"/>由我自行选择</span>
            <p class="text-danger">注：系统默认逻辑   优先默认为文章的第一张图片，找不到的话默认预设图片</p>
            <div class=" col-md-15" style="padding-left: 0px">
                <!--{if 1==$userinfo['defaultcover']}-->
                <input type="text" id="imgurl" name="imgurl" class="form-control" value="{$userinfo['defaultcoverimage']}" placeholder="封面图片地址">
                <!--{else}-->
            <input type="text" id="imgurl" name="imgurl" class="form-control" placeholder="封面图片地址">
                <!--{/if}-->
            </div>
            <div class="col-md-3" id="div1" style="height: 40px">
                <input type="button" id='pic_view' class="btn btn-info" name="pic_view"  value="浏览">
                <input type="file" id="layer_upload" onchange="previewImage(this)" name="image" title="请选择图片" accept="image/*" style="opacity: 0; width:40px;height: 40px;position:relative;top:-3rem;">
            </div>
            <div class=" col-md-3" id="div2">
                <input type="button" onclick="getimg()" id='getview' class="btn btn-info" name="pic_view"  value="通过文章内容提取">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class=" col-md-3">
            <span>封面缩略图：</span>
        </div>
        <div class="col-md-13" style="width: 52%">
            <div id="preview" style="overflow:visible">
                <!--{if 1==$userinfo['defaultcover']}-->

                <a target="_blank" id="imgshowlink" <!--{if $index===false}-->  href="{SITE_URL}{$userinfo['defaultcoverimage']}" <!--{else}--> href="{$userinfo['defaultcoverimage']}" <!--{/if}-->>
                    <img class="img-thumbnail" id=imghead name="imghead" <!--{if $index===false}-->  src="{SITE_URL}{$userinfo['defaultcoverimage']}" <!--{else}--> src="{$userinfo['defaultcoverimage']}" <!--{/if}-->  width="490" height="240"></a>

                <!--{else}-->
                <a target="_blank" id="imgshowlink" href="{$unknownpic}" data-toggle="lightbox" data-group="image-group-1">
                    <img class="img-thumbnail" id=imghead name="imghead" src="{$unknownpic}" width="490" height="240"></a>
                <!--{/if}-->
            </div>
        </div>
        <div class=" col-md-3" style="padding-left: 12px;">
            <input type="button" style="margin-top: 130px;" onclick="nextPic()" id='nextpic' class="btn btn-info" name="nextpic"  value="下一张">
            <input type="button" style="margin-top: 15px;" onclick="prePic()" id='prepic' class="btn btn-info" name="prepic"  value="上一张">
        </div>

    </div>
    <div class="form-group">
        <div class=" col-md-3">
        </div>
        <div class=" col-md-20">
        <span><input class="normal_checkbox" id="moren" type="checkbox" value="1" name="moren" />存为我的默认方案</span>
            <p class="text-danger">注:勾选后，后续发布文章会依本次设定的封面设定方案自动设置封面:</p>
            <p class="text-danger"> * 若保存的是“系统帮我自动默认”方案，则后续发表文章再不需要自行设定封面</p>
            <p class="text-danger"> * 若保存的是“有我自行选择”方案，则每次都需要自行指定</p>
            <p class="text-danger"> * 该默认设定，可以到 “个人中心---个人设置---喜好设定”里修改</p>
        </div>
    </div>
    <div class="form-group">
        <div class=" col-md-3">
            <span>权限选择：</span>
        </div>
        <!--{if $userinfo['identity'] == 3}-->
        <div class=" col-md-20"  >
            <span data-toggle="tooltip" title="若允许非产中人员查看内容，请勾选 研发&顾问"><input class="normal_checkbox" disabled="disabled" id="duinei" type="checkbox" value="1" name="duinei" checked />研发&nbsp;&nbsp;</span>
            <span data-toggle="tooltip" title="若允许非产中人员查看内容，请勾选 研发&顾问" ><input class="normal_checkbox" disabled="disabled" id="duiwai"  type="checkbox" value="2" name="duiwai" checked />顾问</span>
        </div>
        <!--{else}-->
        <div class=" col-md-20"  >
            <span data-toggle="tooltip" title="若允许非产中人员查看内容，请勾选 研发&顾问"><input class="normal_checkbox" id="duinei" type="checkbox" value="1" name="duinei" />研发&nbsp;&nbsp;</span>
            <span data-toggle="tooltip" title="若允许非产中人员查看内容，请勾选 研发&顾问" ><input class="normal_checkbox" id="duiwai"  type="checkbox" value="2" name="duiwai" />顾问</span>
        </div>
        <!--{/if}-->

    </div>
        <!-- -待续 -->
    <div class="form-group">
        <div class=" col-md-3">
        </div>
        <div class=" col-md-20">

            <input type="hidden" name="usersid" value='{$_SESSION["userid"]}'/>

            <input type="submit" style="width: 100px" id='article_btn' class="btn btn-success width-120" name="submit"  value="提 交">

        </div>
    </div>
  <div class="modal fade" id="myLgModal" style="z-index:999999999">
  <div class="modal-dialog modal-md">
    <div class="modal-content" style="width:500px">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">选择分类</h4>
      </div>
        <div class="modal-body">
      <div id="dialogcate">
        <form name="editcategoryForm" action="{url question/movecategory}" method="post">
            <input type="hidden" name="qid" value="{$question['id']}" />
            <input type="hidden" name="category" id="categoryid" />
            <input type="hidden" name="selectcid1" id="selectcid1" value="{$question['cid1']}" />
            <input type="hidden" name="selectcid2" id="selectcid2" value="{$question['cid2']}" />
            <input type="hidden" name="selectcid3" id="selectcid3" value="{$question['cid3']}" />
            <table class="table table-striped">
                <tr valign="top">
                    <td width="125px">
                        <select  id="category1" class="catselect" size="8" name="category1" ></select>
                    </td>
                    <td align="center" valign="middle" width="25px"><div style="display: none;" id="jiantou1">>></div></td>
                    <td width="125px">                                        
                        <select  id="category2"  class="catselect" size="8" name="category2" ></select>                                        
                    </td>
                    <td align="center" valign="middle" width="25px"><div style="display: none;" id="jiantou2">>>&nbsp;</div></td>
                    <td width="125px">
                        <select id="category3"  class="catselect" size="8"  name="category3" ></select>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                    <span>
                    <input  type="button" id="layer-submit" class="btn btn-success" value="确&nbsp;认" onclick="selectcate();"/></span>
                    <span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </span>
                    </td>
                   
                </tr>
            </table>
        </form>
    </div>
    </div>
    </div>
  </div>
</div>
 </div>
                 </div>

    </div>
 </form>
    </div>
</div>

  

<!--用户中心结束-->
<script type="text/javascript">
window.onload=function(){
	$(".dongtai .title").focus();
}
function getimg(){
	var _html =editor.getContent();
	var firstimg=$(_html).find("img");
	if(firstimg!=null && firstimg[0]!=null) {
        $("#imgurl").val(firstimg[0].src);
        setimgsrc(firstimg[0].src, firstimg[0].src);
    }else {
        alert('文章中没有获取到图片，请检查');
    }
}
    var category1 = {$categoryjs[category1]};
    var category2 = {$categoryjs[category2]};
    var category3 = {$categoryjs[category3]};
    $(document).ready(function() {
        initcategory(category1);
    });
var picArr = new Array();
var index = 0;
var selfpicpath='';
var selfpicvalue='';
    function getpicarray() {
        $.ajax({
            //提交数据的类型 POST GET
            type: "POST",
            //提交的网址
            url: "{SITE_URL}/?user/ajaxread_file",
            //提交的数据
            data: {},
            //返回数据的格式
            datatype: "text",//"xml", "html", "script", "json", "jsonp", "text".
            //成功返回之后调用的函数
            success: function (data) {
                picArr = eval('(' + data + ')');
                var system = $("#radio1").is(':checked');
                if(system === true){
                    $("#div1").hide();
                    $("#div2").show();
                    $("#imgurl").attr({"readonly":"readonly"});
                    $("#nextpic").show();
                    $("#prepic").show();
                    $("#moren").removeAttr("disabled");
                }else{
                    $("#div1").hide();
                    $("#div2").hide();
                    $("#imgurl").attr({"readonly":"readonly"});
                    $("#nextpic").hide();
                    $("#prepic").hide();
                    $("#moren").attr({"disabled":"disabled"});
                    setimgsrc('{$unknownpic}','');
                }
            },
            //调用出错执行的函数
            error: function () {
                //请求出错处理
            }
        });
    }
getpicarray();
function nextPic(){
    index++;
    if(index==picArr.length){
        index=0;
    }
    setimgsrc(picArr[index],getFileName(picArr[index]));
}
function prePic(){
    index--;
    if(index<0){
        index=picArr.length-1;
    }
    setimgsrc(picArr[index],getFileName(picArr[index]));
}
function selectcate() {
    var selectedcatestr = '';
    var category1 = $("#category1 option:selected").val();
    var category2 = $("#category2 option:selected").val();
    var category3 = $("#category3 option:selected").val();
    if (category1 > 0) {
        selectedcatestr = $("#category1 option:selected").html();
        $("#topicclass").val(category1);
        $("#cid1").val(category1);
    }
    if (category2 > 0) {
        selectedcatestr += " > " + $("#category2 option:selected").html();
        $("#topicclass").val(category2);
        $("#cid2").val(category2);

    }
    if (category3 > 0) {
        selectedcatestr += " > " + $("#category3 option:selected").html();
        $("#topicclass").val(category3);
        $("#cid3").val(category3);

    }
    $("#selectedcate").html(selectedcatestr);
    $("#changecategory").html("更改");
    $("#myLgModal").modal("hide");
}
function getFileName(o){
//    var pos=o.lastIndexOf("\\");
//    if(pos ==-1){
//        pos = o.lastIndexOf("/");
//    }
    var newvalue = o.replace('{SITE_URL}','');
    return newvalue;
}
function setimgsrc(src,urlvalue) {
    var img = document.getElementById('imghead');
    img.src = src;
    $("#imghead").attr("data-image",src);
    $("#imgshowlink").attr("href",src);

    $("#imgurl").val(urlvalue);
}

function systemchoose() {
    //浏览按钮禁用,下一张按钮启动，存为我的默认方案启动
    $("#div1").hide();
    $("#div2").show();
    $("#imgurl").attr({"readonly":"readonly"});
    $("#nextpic").show();
    $("#prepic").show();
    $("#moren").removeAttr("disabled");
    setimgsrc(picArr[index],getFileName(picArr[index]));
}

function selfchoose() {
    //浏览按钮启动,下一张按钮禁用，存为我的默认方案禁用
    $("#div1").show();
    $("#div2").hide();
    $("#imgurl").removeAttr("readonly");
    $("#nextpic").hide();
    $("#prepic").hide();
    $("#moren").attr({"disabled":"disabled"});
    $("#moren").removeAttr("checked");
    if(selfpicpath!=''){
        setimgsrc(selfpicvalue,selfpicpath);
    }else {
        setimgsrc('{$unknownpic}','');
    }
}

function showcategory(){
	 $('#myLgModal').modal({
		 position    :50,  
		    moveable : true,
		    show     : true
		})
 }
$("#article_btn").click(function(){
	 var v=$("#topicclass").val();
	var fv=$("#layer_upload").val();
	var upfv=$("#imgurl").val();
	 if(v==''){
		 alert("请选择文章分类");
		 showcategory();
		 return false;
	 }
	if(fv==''&&upfv==''){
		 alert("请选择文章封面图");
		 return false;
    }
    var systembt = $("#radio1").is(':checked');
    var selfbt = $("#radio2").is(':checked');
    if(systembt == false && selfbt == false){
        $("#radio1").focus();
        alert("请指定文章封面图");
        return false;
    }
    var duinei = $("#duinei").is(':checked');
    var duiwai =$("#duiwai").is(':checked');
//    var duineiValue = $("#duinei").val();
//    var duiwaiValue = $("#duiwai").val();
    if(duiwai == false && duinei == false){
        $("#duinei").focus();
        alert("请指定有权限阅读的人员");
        return false;
    }
})
 
 function checkarticle(){
	 if($("#topicclass")==''){
		 alert("请选择文章分类");
		 return false;
	 }
 }
//图片上传预览    IE是用了滤镜。
 function previewImage(file) {
     var MAXWIDTH  = 490;
     var MAXHEIGHT = 240;
     var div = document.getElementById('preview');
     if (file.files && file.files[0])
     {
//         div.innerHTML ='<a target="_blank" id="imgshowlink" href="" data-toggle="lightbox" data-group="image-group-1"><img class="img-thumbnail" id=imghead width="489" height="240"></a>';
         var img = document.getElementById('imghead');
         img.onload = function(){
//             var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
//             img.width  =  rect.width;
//             img.height =  rect.height;
//             img.style.marginTop = rect.top+'px';
         }
         var reader = new FileReader();
         reader.onload = function(evt){
             setimgsrc(evt.target.result,file.files[0].name);
             selfpicpath = file.files[0].name;
             selfpicvalue = evt.target.result;
//             img.src = evt.target.result;
//             $("#imghead").attr("data-img",evt.target.result);
//             $("#imgshowlink").attr("href",evt.target.result);
         }
         reader.readAsDataURL(file.files[0]);
     }
     else //兼容IE
     {
         var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
         file.select();
         var src = document.selection.createRange().text;
        div.innerHTML = '<img class="img-thumbnail" data-caption="" data-toggle="lightbox" id=imghead>';
         var img = document.getElementById('imghead');
         img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
         var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
         status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
         div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
     }
 }
 function clacImgZoomParam( maxWidth, maxHeight, width, height ){
     var param = {top:0, left:0, width:maxWidth, height:maxHeight};
     if( width>maxWidth || height>maxHeight )
     {
         rateWidth = width / maxWidth;
         rateHeight = height / maxHeight;

         if( rateWidth > rateHeight )
         {
             param.width =  maxWidth;
             param.height = Math.round(height / rateWidth);
         }else
         {
             param.width = Math.round(width / rateHeight);
             param.height = maxHeight;
         }
     }else{

     }

     param.left = Math.round((maxWidth - param.width) / 2);
     param.top = Math.round((maxHeight - param.height) / 2);
     return param;
 }
</script>  


