<!--{template header}-->

<script type="text/javascript" src="{SITE_URL}static/js/neweditor/ueditor.config.js"></script> 
<script type="text/javascript" src="{SITE_URL}static/js/neweditor/ueditor.all.min.js"></script> 
<div class="container  mar-t-1 mar-b-1">
<div class="row">
  <div class="col-sm-24">

    <form  class="form-horizontal mar-t-1" id="askform" name="questionform" method="post" enctype="multipart/form-data">
            <div class="askbox">
                
       
                 
                
                
                       <div class="form-group">
          <p class="col-md-24 "></p>
          <div class="col-md-16">
        
               <input class="title form-control" name="title" id="qtitle" value="{$question['title']}">
          </div>
        </div>
        
                 <div class="form-group">
          <p class="col-md-24 ">编辑描述</p>
          <div class="col-md-16">
            <div id="introContent">
                        <script type="text/plain" id="editor" name="content" style="height: 322px;">{$question['description']}</script>
                         <script type="text/javascript">  
            var editor = UE.getEditor('editor',{  
                //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个  
                  toolbars:[[ {$setting['editor_toolbars']}]],
               
               
                //关闭字数统计  
                wordCount:false,  
                //关闭elementPath  
                elementPathEnabled:false,  
                //默认的编辑区域高度  
                initialFrameHeight:150  
                //更多其他参数，请参考ueditor.config.js中的配置项  
                //更多其他参数，请参考ueditor.config.js中的配置项  
            });  
        </script> 
                    </div>
          </div>
        </div>
                <div class="form-group">
                    <!--{if $userinfo['identity'] == 3}-->
                    <div class=" col-md-20">
                        <span><input class="normal_checkbox" id="duinei" type="checkbox" disabled="disabled" checked value="1" name="duinei" />研发&nbsp;&nbsp;</span>
                        <span><input class="normal_checkbox" id="duiwai"  type="checkbox" disabled="disabled" checked value="2" name="duiwai" />顾问</span>
                    </div>
                    <!--{else}-->
                    <div class=" col-md-20">
                        <span><input class="normal_checkbox" id="duinei" type="checkbox" <!--{if 1==$question['authoritycontrol']||$question['authoritycontrol']==2}-->checked<!--{/if}--> value="1" name="duinei" />研发&nbsp;&nbsp;</span>
                        <span><input class="normal_checkbox" id="duiwai"  type="checkbox" <!--{if 2==$question['authoritycontrol']}-->checked<!--{/if}--> value="2" name="duiwai" />顾问</span>
                    </div>
                    <!--{/if}-->
                </div>
            
                  <!--if $user['grouptype']!=1&&$user['credit1']<$setting['jingyan']-->

                <!--取消验证码template code-->
          <!--/if-->
          
         <div class="form-group">
          <div class=" col-md-10">
        
                          <input type="hidden" value="{$qid}" id="bianji_qid" name="qid" />
             <input type="button" id="submit" name="submit" class="btn btn-success" value="提交" data-loading="稍候...">
              <a class="btn btn-default mar-ly-1" onclick="window.history.go(-1)">返回</a>
          </div>
        </div>
            </div>	
        </form>
  </div>
  
   <div class="col-sm-24">
   <!--广告位5-->
        <!--{if (isset($adlist['question_view']['right1']) && trim($adlist['question_view']['right1']))}-->
        <div>{$adlist['question_view']['right1']}</div>
        <!--{/if}-->
  </div>
</div>
</div>
<script>
$("#submit").click(function(){
    //检查问题权限是否设置
    var duinei = $("#duinei").is(':checked');
    var duiwai =$("#duiwai").is(':checked');
    var duineiValue = $("#duinei").val();
    var duiwaiValue = $("#duiwai").val();
    if(duiwai == false && duinei == false){
        $("#duinei").focus();
        new $.zui.Messager("请指定有权限阅读的人员!", {
            close: true,
            placement: 'center' // 定义显示位置
        }).show();
        return false;
    }
    var authoritycontrol = 0;
    if(duiwai == true){
        authoritycontrol = duiwaiValue;
    }else if(duinei == true){
        authoritycontrol = duineiValue;
    }
	 var eidtor_content= editor.getContent();
	   <!--{if $user['grouptype']!=1}-->
	  var data={
			  title:$("#qtitle").val(),
			  content:eidtor_content,
			 qid:$("#bianji_qid").val(),
			 submit:$("#submit").val(),
			  askfromuid:$("#askfromuid").val(),
  			
  			code:$("#code").val(),
          authoritycontrol:authoritycontrol
  	}
	    <!--{else}-->
		var data={
				  title:$("#qtitle").val(),
				  qid:$("#bianji_qid").val(),
				  submit:$("#submit").val(),
    			 content:eidtor_content,
            authoritycontrol:authoritycontrol
    	}
	     <!--{/if}-->
	  

	$.ajax({
        //提交数据的类型 POST GET
        type:"POST",
        //提交的网址
        url:"{url question/ajaxedit}",
        //提交的数据
        data:data,
        //返回数据的格式
        datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
        //在请求之前调用的函数
        beforeSend:function(){
        	 ajaxloading("提交中...");
        },
        //成功返回之后调用的函数             
        success:function(data){
        	$(".progress").addClass("hide");
        	var data=eval("("+data+")");
           if(data.message=='ok'){
        	   var tmpmsg='问题编辑成功!';
        	  
        	   new $.zui.Messager(tmpmsg, {
        		   type: 'success',
        		   close: true,
           	    placement: 'center' // 定义显示位置
           	}).show();
        	   setTimeout(function(){
        		  
                   window.location.href=data.url;
               },1500);
           }else{
        	   new $.zui.Messager(data.message, {
            	   close: true,
            	    placement: 'center' // 定义显示位置
            	}).show();
           }
          
         
        }   ,
        //调用执行后调用的函数
        complete: function(XMLHttpRequest, textStatus){
        	  removeajaxloading();
        },
        //调用出错执行的函数
        error: function(){
            //请求出错处理
        }         
     });
})




</script>
<!--{template footer}-->