

<!--引入wangEditor.css-->

<link rel="stylesheet" type="text/css" href="{SITE_URL}static/js/wangeditor/pcwangeditor/css/wangEditor.min.css" />
<style >
    /*样式重叠了 去掉重叠样式  */
    .wangEditor-container .clearfix ,.wangEditor-container .clear {
        clear:none;
    }

</style>

<!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->

<script type="text/javascript" src="{SITE_URL}static/js/wangeditor/pcwangeditor/js/wangEditor.js"></script>

<textarea id="editor" name="content" style="width:100%;height:200px">

 
</textarea>
<script type="text/javascript">


var isueditor=0;
	// 初始化编辑器的内容
	  var editor = new wangEditor('editor');
	// 自定义配置
		editor.config.uploadImgUrl = g_site_url+"index.php?attach/upimg" ;
		editor.config.uploadImgFileName = 'wangEditorMobileFile';
		// 阻止输出log
	    wangEditor.config.printLog = false;
    // 普通的自定义菜单 {$setting['editor_wtoolbars']}
   
	    editor.config.menus = [
	                       

{$setting['editor_wtoolbars']}
	     ];
	    // 将全屏时z-index修改为20000
	   // editor.config.zindex =-1;
    editor.create();
$(".wangEditor-container").css("z-index","1");

</script>