<!--{eval global $starttime,$querynum;$mtime = explode(' ', microtime());$runtime=number_format($mtime[1] + $mtime[0] - $starttime,6); $setting=$this->setting;$user=$this->user;$headernavlist=$this->nav;$regular=$this->regular;}-->
<link href="{SITE_URL}static/css/dist/css/zui.min.css" rel="stylesheet">
<div class="poploginform">
    <div class="form-group" style ="margin-bottom:0px;font-size: 20px">
        客户编号 {$customername} 已在E问注册！
    </div>
    <div class="form-group">
        <a type="button" style="font-size: 15px;" id="customer_login_submit" href="{url user/login}" class="sign-in-button">直接登录</a>
        <div class="forget-btn">
            <a class="sign-in-button" style="font-size: 15px;"  href="{url user/getpass}">忘记密码</a>
        </div>

    </div>
    <script type="text/javascript">

    </script>

</div>
