<!--{template header}-->
<!--<script src="{SITE_URL}static/css/bianping/js/navstatus.js"></script>-->
<!--{eval $adlist = $this->fromcache("adlist");}-->
<!--{if 0!=$user['uid']}-->
<!--{if $setting['register_on']==1&&$user['active']!=1}-->

<div class="alert alert-success-inverse text-center">
    <button type="button" class="close text-whtie" data-dismiss="alert" aria-hidden="true">×</button>
    <p>
        您的邮箱还没有激活<a href="{url user/editemail}" class="mar-ly-1 ">点击激活邮件</a>
    </p>
</div>
<!--{/if}-->
<!--{/if}-->
<div id="NavTop">
    <ul id="menu1">
        <li><a href="http://221.6.15.178:8580/pmsweb/NewContact.aspx" target="_blank">WEB型管</a></li>
        <li>
            <a>规格查询</a>
            <ul>
                <li><a href="http://221.6.15.178:8580/pmsweb/IntegratedQuery.aspx" target="_blank">内容查询</a></li>
                <li><a href="http://221.6.15.178:8580/pmsweb/SpecList/default.aspx " target="_blank">清单查询</a></li>
            </ul>
        </li>
   <!--     <li><a href="http://221.6.15.178:8580/pmsweb/NewContact.aspx" target="_blank">WEB型管</a></li>-->
        <li><a href="ftp://221.6.15.178:4002/" target="_blank">E10 FTP</a></li>
        <li><a href="http://221.6.15.178:8081/AppStore.aspx" target="_blank">E10应用商店</a></li>
        <li><a href="{url gift/default}" target="_blank">奖品商城</a></li>
    </ul>

    <ul >
        <li>
            <div id="dimcard">
            <img src="{SITE_URL}static/css/bianping/images/cli_300_2px.png"   class="img-rounded" />

            </div>
        </li>

    </ul>

</div>
<div class="container index slideInDown animated">

    <div class="row">
        <div class="col-xs-16 main  ">
            <div class="recommend-collection">


                <!--{eval $categorylist=$this->fromcache('categorylist');}-->
                <!--{loop $categorylist  $category1}-->


                <a class="collection" target="_blank" href="{url topic/catlist/$category1['id']}">
                    <img src="$category1['image']" alt="195" style="height:32px;width:32px;">
                    <div class="name">{$category1['name']}</div>
                       <!--{eval  $temp= $_ENV['category']->get_topnav($category1['id']);}-->
                    <span class="label label-danger " style="  ">{$temp['name']}
</span>
                </a>
                <!--{/loop}-->


                <a class="more-hot-collection" target="_blank" href="{url category/viewtopic/hot}">
                    更多热门专题 <i class="fa fa-angle-right mar-ly-1"></i>
                </a></div>
            <ul id="jquery_genr" class="nav navbar-nav"
                style="float: none;background-color: #f5f5f5;border-radius:6px;font-size:17px;margin-bottom: 10px;">
                <li class="selectedCss"><a class="choose-btn" href="{url index/default/all}">全部</a>
                </li>
                <li style="margin-left: 30px;">
                    <a class="choose-btn"  href="{url index/default/topic}">文章</a>
                </li>
                <li style="margin-left:30px">
                    <a class="choose-btn" href="{url index/default/question}">问题</a>
                </li>
                <li style="margin-left:30px">
                    <a class="choose-btn" href="{url index/default/note}">公告</a>
                </li>
            </ul>
            <input type="hidden" id="poptype" name="poptype" value="{$typename}"/>
            <div class="split-line"></div>

            <div id="list-container">
                <!-- 文章列表模块 -->
                <ul class="note-list">

                    <!--{loop $notedatalist  $topdata}-->
                    <li id="note-{$topdata['id']}" data-note-id="{$topdata['id']}" {if $topdata['image']!=null}  class="have-img" {else}class="" {/if}>
                        {if $topdata['image']!=null}
                        <a class="wrap-img"  {if $topdata['url']} href="{$topdata['url']}"  {else}  href="{url note/view/$topdata['id']}" {/if}  target="_blank">
                        <img src="{$topdata['image']}">
                        </a>
                        {/if}
                        <div class="content">
                            <div class="author">
                                <a class="avatar" target="_blank" href="{url user/space/$topdata['authorid']}" onmouseover="pop_user_on(this,$topdata['authorid'],'text')"  onmouseout="pop_user_out()">
                                    <img src="{$topdata['avatar']}" alt="96">
                                </a>      <div class="name">
                                <a class="blue-link" target="_blank" href="{url user/space/$topdata['authorid']}">{$topdata['author']}</a>
                                发布了一篇公告
                                <span class="ico_point">.</span>
                                <span class="time" data-shared-at="{$topdata['format_time']}">{$topdata['format_time']}</span>

                                <img src="{SITE_URL}static/css/images/zhiding.png" class="topcontent">

                            </div>
                            </div>
                            <a class="title" target="_blank" {if $topdata['url']} href="{$topdata['url']}"  {else}  href="{url note/view/$topdata['id']}" {/if} >{$topdata['title']}</a>
                            <p class="abstract">
                                {eval echo strip_tags($topdata['content']);}
                            </p>
                            <div class="meta">

                                <a target="_blank" {if $topdata['url']} href="{$topdata['url']}"  {else}  href="{url note/view/$topdata['id']}" {/if}" >
                                    <i class="fa fa-eye"></i> {$topdata['views']}
                                </a>        <a target="_blank" {if $topdata['url']} href="{$topdata['url']}"  {else}  href="{url note/view/$topdata['id']}#comments" {/if} >
                                <i class="fa fa-comment-o"></i> {$topdata['comments']}
                            </a>
                                <!--{if $user['grouptype']==1}-->
                                <a href="{url note/cancelindextop/$topdata['id']}" >
                                    <span>取消置顶</span>
                                </a>
                                <!--{/if}-->
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->

                    <!--{loop $topicdatalist  $topdata}-->
                    <li id="note-{$topdata['id']}" data-note-id="{$topdata['id']}" {if $topdata[
                    'image']!=null} class="have-img" {else}class="" {/if}>
                        {if $topdata['image']!=null}
                        <a class="wrap-img" href="{url topic/getone/$topdata['id']}" target="_blank">
                        <img src="{$topdata['image']}">
                        </a>
                        {/if}
                        <div class="content">
                            <div class="author">
                                <a class="avatar" target="_blank" href="{url user/space/$topdata['authorid']}" onmouseover="pop_user_on(this,$topdata['authorid'],'text')"  onmouseout="pop_user_out()">
                                    <img src="{$topdata['avatar']}" alt="96">
                                </a>      <div class="name">
                                <a class="blue-link" target="_blank" href="{url user/space/$topdata['authorid']}">{$topdata['author']}</a>
                                发布了一篇文章
                                <span class="ico_point">.</span>
                                <span class="time" data-shared-at="{$topdata['format_time']}">{$topdata['format_time']}</span>

                                <img src="{SITE_URL}static/css/images/zhiding.png" class="topcontent">

                            </div>
                            </div>
                            <a class="title" target="_blank"  href="{url topic/getone/$topdata['id']}">{$topdata['title']}</a>
                            <p class="abstract">
                                {eval echo strip_tags($topdata['description']);}
                            </p>
                            <div class="meta">
                                <a class="collection-tag" target="_blank"
                                href="{url topic/catlist/$topdata['articleclassid']}">$topdata['category_name']</a>
                                <a target="_blank" href="{url topic/getone/$topdata['id']}"  >
                                    <i class="fa fa-eye"></i> {$topdata['views']}
                                </a>        <a target="_blank"  href="{url topic/getone/$topdata['id']}#comments"  >
                                <i class="fa fa-comment-o"></i> {$topdata['answers']}
                            </a>      <span><i class=" fa fa-heart-o"></i>  {$topdata['attentions']}</span>
                                <span ><i class=" fa fa-thumbs-o-up"></i>  {$topdata['supports']}</span>
                                {if $user['grouptype']==1}
                                <a href="{url topic/cancelindextop/$topdata['id']}" >
                                    <span>取消置顶</span>
                                </a>
                                {/if}
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->


                    <!--{loop $nosolvelist $index $question}-->

                    <li id="note-{$question['id']}" data-note-id="{$question['id']}" {if $question[
                    'image']!=null} class="have-img" {else}class="" {/if}>
                    {if $question['image']!=null}
                    <a class="wrap-img" {if $question['articleclassid']!=null} href="{url topic/getone/$question['id']}"
                    {else} href="{url question/view/$question['id']}" {/if} target="_blank">
                    <img src="{$question['image']}">
                    </a>
                    {/if}
                    <div class="content">
                        <div class="author">


                            {if $question['hidden']==1}

                            <a class="avatar" href="javascript:void(0)">
                                <img src="{$question['avatar']}" alt="96">
                            </a>
                            <div class="name">
                                <a class="blue-link" href="javascript:void(0)">匿名用户</a>


                                {else}
                                <a class="avatar" target="_blank" href="{url user/space/$question['authorid']}" onmouseover="pop_user_on(this,$question['authorid'],'text')"  onmouseout="pop_user_out()">
                                    <img src="{$question['avatar']}" alt="96">
                                </a>
                                <div class="name">
                                    <a class="blue-link" target="_blank" href="{url user/space/$question['authorid']}">{$question['author']}</a>

                                    {/if}

                                    {if $question['askuid']>0}
                                    对<span class="text-danger">{$question['askuser']['realname']}</span>
                                    {/if}
                                    {$question['temptitle']}
                                    <span class="ico_point">.</span>
                                    <span class="time" data-shared-at="{$question['format_time']}">{$question['format_time']}</span>


                                    {if $question['askuid']>0}
                                    <span data-toggle="tooltip" data-placement="bottom" title=""
                                          data-original-title="邀请{$question['askuser']['realname']}回答"
                                          class="icon_zise"><i class="fa fa-twitch mar-r-03"></i>邀请回答</span>
                                    {/if}
                                </div>
                            </div>
                            <a class="title" target="_blank" href="{$question['tempurl']}"> <h3>{$question['title']} <small >{$question['srcs']}</small></h3> </a>
                            {if $question['flag']!=2}
                            <p class="abstract">
                                {eval echo strip_tags($question['description']);}
                            </p>
                            {else}
                            <p class="abstract">
                                {eval echo strip_tags($question['content']);}
                            </p>
                            {/if}
                            <div class="meta">
                                {if $question['flag']!=2}
                                <a class="collection-tag" target="_blank" {if $question['articleclassid']!=null}
                                href="{url topic/catlist/$question['articleclassid']} {else} href="{url
                                category/view/$question['cid']} {/if} ">$question['category_name']</a>
                                {/if}
                                <a target="_blank" href="{$question['tempurl']}">
                                <i class="fa fa-eye"></i> {$question['views']}
                                </a>
                                <a target="_blank" href="{$question['tempcomments']}">
                                <i class="fa fa-comment-o"></i> {$question['answers']}
                                </a>
                                {if $question['flag']!=2}
                                <span><i class=" fa fa-heart-o"></i>  {$question['attentions']}</span>
                                <span ><i class=" fa fa-thumbs-o-up"></i>  {$question['supports']}</span>
                                {/if}

                            </div>
                        </div>
                        </li>

                        <!--{/loop}-->

                </ul>
                <!-- 文章列表模块 -->
            </div>

            <!--nav-->
                     <div class="pages">{$departstr}</div>
        </div>

        <!--右边栏目-->
        <div class="col-xs-7    col-xs-offset-1 aside rightpanel">


           
            <!--{template sider_alluser}-->

            <!--{template sider_hotarticle}-->
            <!--{template cms}-->
        </div>


    </div>


</div>
<!--<Script>
    nav_status('发现');
    nav_status('首页');
</Script>-->

<!--{template footer}-->

<style type="text/css">
    * {
        margin: 0px;
        padding: 0px;
    }

    /* 二维嘛  */

      #dimcard {
            transition: All 0.4s ease-in-out;
            -webkit-transition: All 0.4s ease-in-out;
            -moz-transition: All 0.4s ease-in-out;
            -o-transition: All 0.4s ease-in-out;
        }

        #dimcard:hover {
            transform: rotate(360deg) scale(1.2);
            -webkit-transform: rotate(360deg) scale(1.2);
            -moz-transform: rotate(360deg) scale(1.2);
            -o-transform: rotate(360deg) scale(1.2);
            -ms-transform: rotate(360deg) scale(1.2);
        }

/*首页专题角标*/

   .main div a.collection span.label{
       margin-top:15px;
        margin-right:-10px;
         float:right;
         display:inline-block ;
         -webkit-transform: rotate(-45deg); /* Safari和Chrome */
           -moz-transform: rotate(-45deg);/* Firefox 旋转属性，参数表示角度(deg表示角度)，负数逆时针，正数顺时针 */
           -ms-transform: rotate(-45deg);/* IE 9 */
            -o-transform: rotate(-45deg);/* Opera */
   }




    #NavTop {
        width: 140px;
        border-radius: 10px;
        background-color: #f7f7f7;
        /*height: 280px;*/
        position: fixed;
        left: 0px;
        top: 120px; /*固定位置,右浮动，距上150px*/
    }

    #NavTop ul {
        margin-top:10px;
        padding-left: 10px;
        height:auto;
        min-height: 250px;
    }

    #menu1 li ul {
        display: none;
    }

    #menu1 li:hover ul {
        display: block;
    }
    #menu1 li:hover ul {
        margin-top:0px;
        min-height: 0px;
    }

    #menu1 li {
        float: left
    }

    #NavTop ul li a {
        text-decoration: none;
        color: #555;
        width: 105px;
        height: 30px;
        background: #fff;
        display: block;
        margin-top: 10px;
        line-height: 30px;
        text-align: center;
        font-family: "微软雅黑";
        font-size: 14px;
    }

    #NavTop ul li a:hover {
        background: #70ce1a;
    }
    .navbar-nav>.selectedCss>a,.navbar-nav>.selectedCss>a:focus,.navbar-nav>.selectedCss>a:hover{
        color: #ea6f5a !important;
    }
    .selectedCss{
        color: #ea6f5a !important;
    }
</style>
<script>
    function changeColor() {
        var typename = $("#poptype").val();
        $('.choose-btn').each(function () {
            if ($.trim($(this).text()) == $.trim(typename)) {
                $('ul li.selectedCss').removeClass('selectedCss');
                $(this).parent().addClass('selectedCss');
                return false;
            }
        });
    }
    changeColor();
</script>