<!--{eval global $starttime,$querynum;$mtime = explode(' ', microtime());$runtime=number_format($mtime[1] + $mtime[0] - $starttime,6); $setting=$this->setting;$user=$this->user;$headernavlist=$this->nav;$regular=$this->regular;}-->
<link href="{SITE_URL}static/css/dist/css/zui.min.css" rel="stylesheet">
<script type="text/javascript" src="{SITE_URL}static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{SITE_URL}static/css/dist/js/zui.js"></script>
<script type="text/javascript" src="{SITE_URL}static/js/autocomplete/jquery.autocomplete.js"></script>

<div class="poploginform">
    <form  class="form-horizontal" name="loginform" method="post">
        <div class="form-group">
            <label class="col-md-3 control-label">求助对象：</label>
            <div class="col-md-6">
                <input  type="text" style="width: 400px;"  id="askid" name="askid" class="form-control" placeholder="输入姓名或itcode，只允许求助一人">
            </div>
        </div>
        <input type="hidden" id="qid" name="qid" value='{$qid}'/>
        <input type="hidden" id="uid" name="uid"/>
        <div class="form-group">
            <div class="col-md-8" style="float: right;width: 68%;">
                <input type="button" onclick="submitform();" id="submit" class="sign-up-button" value="确定">
                <input type="button" data-dismiss="modal" style="margin-left: 20px;" onclick="closeform();" id="submit1" class="sign-up-button" value="取消">
            </div>
        </div>
    </form>

    <script type="text/javascript">
        function submitform() {
            var _qid = $("#qid").val();
            var _askuid = $("#uid").val();
            $.ajax({
                type: "POST",
                async: false,
                cache: false,
                //提交的网址
                url: "{SITE_URL}/?question/updateinvite_askuid",
                //提交的数据
                data: {qid: _qid, askuid: $.trim(_askuid)},
                //返回数据的格式
                datatype: "text",//"xml", "html", "script", "json", "jsonp", "text".
                success: function (data) {
                    //window.location.reload();
                    console.log(data)
                    if (data == 'successful') {
                        new $.zui.Messager('邀请回答成功', {
                            type: 'info',
                            close: true,
                            time: 0,
                            placement: 'center' // 定义显示位置
                        }).show();
                        setTimeout(function(){
                            window.location.reload();
                        },3000);
                    }else{
                        new $.zui.Messager(data, {
                            type: 'danger',
                            close: true,
                            time: 4000,
                            placement: 'center' // 定义显示位置
                        }).show();
                    }
                }
            });
        }
        function closeform() {
            window.location.reload();
        }
        $(function() {
            var onAutocompleteSelect =function(value, data) {
                $("#uid").val(data);
            };
            var reEscape = new RegExp('(\\' + ['/', '.', '*', '+', '?', '|', '(', ')', '[', ']', '{', '}', '\\'].join('|\\') + ')', 'g');
            var fnFormatResult  = function fnFormatResult(value, data, currentValue) {
                var pattern = '(' + currentValue.replace(reEscape, '\\$1') + ')';
                var result = value.replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>');
                var tab = '<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                return result.replace(/;/g,tab);
            }

            var options = {
                serviceUrl: '{SITE_URL}/?question/ajaxsearchuser',//获取数据的后台页面
                width: 600,//提示框的宽度
                maxHeight: 300,
                delimiter: /(,|;)\s*/,//分隔符
                onSelect: onAutocompleteSelect,//选中之后的回调函数
                fnFormatResult: fnFormatResult,
                deferRequestBy: 0, //单位微秒
                //extraParams: {userinfo:$.trim($("#askid").val())},//动态参数值
                params: {query:$.trim($("#askid").val())},//参数
                noCache: false //是否启用缓存 默认是开启缓存的
            };
            $('#askid').autocomplete(options);
        });
    </script>

</div>
<style>

    .autocomplete-w1 {position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
    .autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
    .autocomplete .selected { background:#F0F0F0; }
    .autocomplete div { padding:2px 5px; white-space:nowrap; }
    .autocomplete strong { font-weight:normal; color:#3399FF; }
    .sign-up-button {
        padding: 3px 10px;
        font-size: 17px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background: #3280fc;
        cursor: pointer;
        outline: none;
        clear: both;
        width: 100px;
    }
    label{
        color: #333;
        font-family: 'Microsoft YaHei';
        font-size: 15px;
    }
</style>