<!--{template header}-->
<link rel="stylesheet" media="all" href="{SITE_URL}static/css/bianping/css/space.css" />
<div class="container person">
  <div class="row">
    <div class="col-xs-16 main">
          <!-- 用户title部分导航 -->
          <!--{template user_title}-->
          
              <ul class="trigger-menu" data-pjax-container="#list-container">
                  
      <li <!--{if $regular=="user/xinzhi"}--> class="active" <!--{/if}-->><a href="{url user/xinzhi/$user['uid']}"><i class="fa fa-rss-square"></i> 文章</a></li>
                  </ul> 
          
           

     
      <div id="list-container">
        <!-- 回答列表模块 -->
<ul class="note-list">
   <!--{if $topiclist}-->
   
        <!--{loop $topiclist $index $topic}-->       
                
    <li id="note-{$topic['id']}" data-note-id="{$topic['id']}" {if $topic['image']!=null}  class="have-img" {else}class="" {/if}>
    {if $topic['image']!=null}  
      <a class="wrap-img"  href="{url topic/getone/$topic['id']}"  target="_blank">
          <img <!--{if strpos($topic['image'],'http') ===false}--> src="{SITE_URL}{$topic['image']}" <!--{else}--> src="{$topic['image']}" <!--{/if}--> >
        </a>
            {/if}
        <div class="content">
            <div class="author">
            
            
               
                
                   
      
        <a class="avatar" target="_blank" href="{url user/space/$topic['authorid']}">
                    <img src="{$topic['avatar']}" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="{url user/space/$topic['authorid']}">{$topic['author']}</a>
                
   
        
                
                <span class="time" data-shared-at="{$topic['format_time']}">{$topic['format_time']}</span>
            </div>
            </div>
            <a class="title" target="_blank"   href="{url topic/getone/$topic['id']}"  >{$topic['title']}</a>
            <p class="abstract">
                {eval echo strip_tags($topic['describtion']);}
                
            </p>
            <div class="meta">

                <a target="_blank"  href="{url topic/getone/$topic['id']}" >
                    <i class="fa fa-eye"></i> {$topic['views']}
                </a>        <a target="_blank"   href="{url topic/getone/$topic['id']}#comments" >
                <i class="fa fa-comment-o"></i> {$topic['articles']}
            </a>      <span><i class=" fa fa-heart-o"></i>  {$topic['likes']}</span>
            </div>
        </div>
    </li>

    <!--{/loop}-->
      <!--{else}-->
      
          <!--{/if}-->

</ul>
  <div class="pages" >{$departstr}</div>   
      </div>
    </div>
    
<div class="col-xs-7 col-xs-offset-1 aside">
   <!--{template user_menu}-->
</div>

  </div>
</div>
<!--{template footer}-->