<!--{template header}-->

<!--{eval $adlist = $this->fromcache("adlist");}-->
<!--内容部分--->
<script src="{SITE_URL}static/css/bianping/js/navstatus.js"></script>
<div class="container index  ">

<div class="row">
<div class="col-xs-16 main">


    <div class="recommend-collection">
           公告列表
          </div>
    <div class="split-line"></div>


 <div id="list-container">
     <!--{if $notelist==null}-->
     <div class="text"><span>目前还没发布公告</span> </div>
        <!--{/if}-->
    <!-- 文章列表模块 -->
    <ul class="note-list" >
        <!-- 置顶模块 -->
        <!--{loop $notetoplist $index $notetop}-->

        <li id="note-{$notetop['id']}" data-note-id="{$notetop['id']}" {if $notetop['image']!=null}  class="have-img" {else}class="" {/if}>
        {if $notetop['image']!=null}
        <a class="wrap-img"  {if $notetop['url']} href="{$notetop['url']}"  {else}  href="{url note/view/$notetop['id']}" {/if}  target="_blank">
        <img src="{$notetop['image']}">
        </a>
        {/if}
        <div class="content">
            <div class="author">
                <a class="avatar" target="_blank" href="{url user/space/$notetop['authorid']}"  onmouseover="pop_user_on(this,$notetop['authorid'],'text')"  onmouseout="pop_user_out()" >
                    <img src="{$notetop['avatar']}" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="{url user/space/$notetop['authorid']}">{$notetop['author']}</a>

                <span class="time" data-shared-at="{$notetop['format_time']}">{$notetop['format_time']}</span>
                <img src="{SITE_URL}static/css/images/zhiding.png" class="topcontent">
            </div>
            </div>
            <a class="title" target="_blank"   {if $notetop['url']} href="{$notetop['url']}"  {else}  href="{url note/view/$notetop['id']}" {/if} >{$notetop['title']}</a>
            <p class="abstract">
                {$notetop['content']}

            </p>
            <div class="meta">

                <a target="_blank"  {if $notetop['url']} href="{$notetop['url']}"  {else}  href="{url note/view/$notetop['id']}" {/if} >
                <i class="fa fa-eye"></i> {$notetop['views']}
                </a>        <a target="_blank"   {if $notetop['url']} href="{$notetop['url']}"  {else}  href="{url note/view/$notetop['id']}#comments" {/if} >
                <i class="fa fa-comment-o"></i> {$notetop['comments']}
                </a>
                <!--{if $user['grouptype']==1}-->
                <a href="{url note/cancelindextop/$notetop['id']}" >
                    <span>取消置顶</span>
                </a>
                <!--{/if}-->
            </div>
        </div>
        </li>

        <!--{/loop}-->
                 
             <!--{loop $notelist $index $note}-->
                
   <li id="note-{$note['id']}" data-note-id="{$note['id']}" {if $note['image']!=null}  class="have-img" {else}class="" {/if}>
    {if $note['image']!=null}  
      <a class="wrap-img"  {if $note['url']} href="{$note['url']}"  {else}  href="{url note/view/$note['id']}" {/if}  target="_blank">
            <img src="{$note['image']}">
        </a>
            {/if}
        <div class="content">
            <div class="author">
            
            
               
                
                   
      
        <a class="avatar" target="_blank" href="{url user/space/$note['authorid']}"  onmouseover="pop_user_on(this,$note['authorid'],'text')"  onmouseout="pop_user_out()" >
                    <img src="{$note['avatar']}" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="{url user/space/$note['authorid']}">{$note['author']}</a>
                
   
        
                
                <span class="time" data-shared-at="{$note['format_time']}">{$note['format_time']}</span>
            </div>
            </div>
            <a class="title" target="_blank"   {if $note['url']} href="{$note['url']}"  {else}  href="{url note/view/$note['id']}" {/if} >{$note['title']}</a>
            <p class="abstract">
                {$note['content']}
                
            </p>
            <div class="meta">

                <a target="_blank"  {if $note['url']} href="{$note['url']}"  {else}  href="{url note/view/$note['id']}" {/if} >
                    <i class="fa fa-eye"></i> {$note['views']}
                </a>        <a target="_blank"   {if $note['url']} href="{$note['url']}"  {else}  href="{url note/view/$note['id']}#comments" {/if} >
                <i class="fa fa-comment-o"></i> {$note['comments']}
            </a>
                <!--{if $user['grouptype']==1}-->
                <!--{if $note['indextop']==1}-->
                <a href="{url note/cancelindextop/$note['id']}" >
                    <span>取消置顶</span>
                </a>
                <!--{else}-->
                <a href="{url note/addindextop/$note['id']}" >
                    <span>置顶</span>
                </a>
                <!--{/if}-->

                <!--{/if}-->
            </div>
        </div>
    </li>
  
    <!--{/loop}-->

    </ul>
    <!-- 文章列表模块 -->
    </div>
    
    

    
                     <div class="pages">{$departstr}</div>
                     
                     
                      <!--广告位1-->
        <!--{if (isset($adlist['common']['left1']) && trim($adlist['common']['left1']))}-->
        <div>{$adlist['common']['left1']}</div>
        <!--{/if}-->

</div>

<div class="col-xs-7 col-xs-offset-1 aside rightpanel">
  <!-- 热门文章排行 -->
    <!--{template sider_hotarticle}-->

        
            <!--广告位2-->
              <div class="mar-t-1">
        <!--{if (isset($adlist['common']['right1']) && trim($adlist['common']['right1']))}-->
        <div style="margin-top:5px;">{$adlist['common']['right1']}</div>
         </div>  
        <!--{/if}-->
         
            
</div>

</div>

</div>


<!--内容部分结束--->

<script>
    nav_status('公告');
</script>
<!--{template footer}-->