
<!--{template meta}-->
<link rel="stylesheet" media="all" href="{SITE_URL}static/css/bianping/css/login.css" />
<body class="no-padding reader-black-font">
<div class="sign">
    <!--<div class="logo"><a href="/"><img src="{$setting['site_logo']}" alt="Logo"></a></div>-->
    <div class="main" style="height: 500px;padding: 0px;">

<h4 class="title" style="margin: 0 auto 30px;">
  <div class="normal-title">
    <a class="" href="{url user/login}">登录</a>
    <b>·</b>
    <a id="js-sign-up-btn" class="active" href="{url user/register}">注册</a>
  </div>
</h4>
<div class="js-sign-up-container" style="padding: 0 20px 0;">
  <form class="new_user" method="post">
      <input type="hidden" name="usersid" value='{$_SESSION["userid"]}'/>
      <input type="hidden" id="apikey" name="apikey" value='{$_SESSION["apikey"]}'/>  
    <div class="input-prepend " style="margin-bottom:0px">
        <input placeholder="请输入许可证里的客户编号(必填)" type="text" value="" id="username" name="user_name" >
      <i class="fa fa-user"></i>
        <div class="forget-btn" style="margin: 0px">
            <a style="color: #00F" onclick="getCustomerCode()">如何查看客户编号</a>
        </div>
    </div>
      <div class="error-tips" id="showname"></div>
      <div class="input-prepend " style="margin-bottom:0px">
          <input placeholder="设置密码，请输入8位数英文+数字密码(必填)" type="password" minlength="8" id="password" name="password" autocomplete="off" maxlength="20">
          <i class="fa fa-lock"></i>
      </div>
      <div class="error-tips" id="show_pass"></div>
      <div class="input-prepend" style="margin-bottom:0px">
          <input placeholder="确认密码(必填)" type="password" id="repassword" name="repassword" autocomplete="off" maxlength="20">
          <i class="fa fa-lock"></i>
      </div>
      <div class="error-tips" id="show_repass"></div>
    <div class="input-prepend " style="margin-bottom:0px">
        <input placeholder="你的邮箱(必填)" type="text" value="" id="email"  name="email"  >
      <i class="fa fa-envelope"></i>

    </div>
      <div class="error-tips" id="show_email"></div>
      <div class="input-prepend  no-radius js-normal " style="margin-bottom:0px">
          <input placeholder="手机号(选填)" type="tel" id="userphone" name="userphone">
          <i class="fa fa-phone"></i>
      </div>
      <div class="error-tips" id="show_phone"></div>
      <!--<div id="being_login" style="width:100%;text-align:center;display:none;position:relative">-->
          <!--<p style="margin:0px;padding:0px;">正在登录...-->
          <!--<p/>-->
          <!--<img src="{SITE_URL}static/css/images/load.gif"></img>-->
      <!--</div>-->
    <input type="button" id="regsubmit" onclick="chekregister()"  value="提交注册" class="sign-up-button">
</form>
<!--{template openlogin}-->
</div>

    </div>
  </div>



      <script type="text/javascript">

    function getCustomerCode(){
        var url=g_site_url+"index.php?user/ajaxviewcustomercode";
        var myModalTrigger = new $.zui.ModalTrigger({url:url,backdrop:false});
        myModalTrigger.show();
    }
    function check_passwd(password) {
        if(password === '') {
            return "请输入您的密码";
        }
        if (bytes(password) < 8) {
            return "密码最少8个字符";
        } else{
            return "";
        }
    }

    function check_repasswd(repassword,password) {
        if(repassword === '') {
            return "请重复输入您的密码";
        }
        if (repassword!= password) {
           return "两次密码输入不一致";
        }
        return '';
    }

    function check_email(email) {
        email = $.trim(email);
        if(email === '') {
            return "请输入您的邮箱";
        }
        if (!email.match(/^[\w\.\-]+@([\w\-]+\.)+[a-z]{2,4}$/ig)) {
            return "邮件格式不正确";
        };
        return '';
    }
    function chekregister(){
        var _uname=$("#username").val();
        var _upwd=$("#password").val();
        var _rupwd=$("#repassword").val();
        var _email=$("#email").val();
        var _phone=$("#userphone").val();
        var _apikey=$("#apikey").val();
        if($.trim(_uname) === ''){
            new $.zui.Messager("请输入您的编号", {
                type: 'danger',
                time:"3000",
                close: true,
                placement: 'center' // 定义显示位置
            }).show();

            $("#username").focus();
            return false;
        }
        var upwderror = check_passwd(_upwd);
        if(upwderror != ''){
            new $.zui.Messager(upwderror, {
                type: 'danger',
                time:"3000",
                close: true,
                placement: 'center' // 定义显示位置
            }).show();

            $("#password").focus();
            return false;
        }
        var rupwderror = check_repasswd(_rupwd,_upwd);
        if(rupwderror!= ''){
            new $.zui.Messager(rupwderror, {
                type: 'danger',
                time:"3000",
                close: true,
                placement: 'center' // 定义显示位置
            }).show();

            $("#repassword").focus();
            return false;
        }
        var emailerror = check_email(_email);
        if(emailerror != ''){
            new $.zui.Messager(emailerror, {
                type: 'danger',
                time:"3000",
                close: true,
                placement: 'center' // 定义显示位置
            }).show();

            $("#email").focus();
            return false;
        }
        if(_phone) {
            var _rs = check_phone(_phone);
            if (!_rs) {
                new $.zui.Messager("手机号码有误", {
                    type: 'danger',
                    time:"3000",
                    close: true,
                    placement: 'center' // 定义显示位置
                }).show();
                $("#userphone").focus();
                return false;
            }
        }
        var _data={phone:_phone,uname:_uname,upwd:_upwd,rupwd:_rupwd,email:_email,apikey:_apikey};

        $.ajax({
            //提交数据的类型 POST GET
            type:"POST",
            //提交的网址
            url:"{SITE_URL}?user/registercustomer",
            //提交的数据
            data:_data,
            //返回数据的格式
            datatype: "text",//"xml", "html", "script", "json", "jsonp", "text".
            beforeSend: function () {
                ajaxloading("验证中...");
             },
            //成功返回之后调用的函数
            success:function(data) {
                data = $.trim(data);
                switch (data) {
                    case 'reguser_cant_null':
                        alert("用户名或者密码不能为空");
                        break;
                    case 'regemail_Illegal':
                        alert("注册邮箱不合法");
                        break;
                    case 'regemail_has_exits':
                        alert("邮箱已注册");
                        break;
                    case 'regemail_cant_use':
                        alert("此邮箱不能注册使用");
                        break;
                    case 'reguser_has_exits':
                        //弹窗提示
                        var url=g_site_url+"index.php?user/ajaxexistcustomer/"+_uname;
                        var myModalTrigger = new $.zui.ModalTrigger({url:url,backdrop:false});
                        myModalTrigger.show();
                        break;
                    case 'Illegal':
                        alert("用户名或者密码包含特殊字符");
                        break;
                    case 'exist_in_DS':
                        var url=g_site_url+"index.php?user/ajaxquerycustomer_result/"+_uname+'/'+_upwd+'/'+_phone+'/'+_email;
                        var myModalTrigger = new $.zui.ModalTrigger({url:url,backdrop:false,showHeader:false});
                        myModalTrigger.show();
                        break;
                    case 'not_exist_in_DS':
                        alert("该客户编号无效，请检查是否已经输入正确的客户编号！");
                        break;
                    default:
                        alert(data);
                        break;
                }
            },
            complete: function () {
                removeajaxloading();
             },
            //调用出错执行的函数
            error: function(){
                //请求出错处理
            }
        });
    }
</script>

<!--{template footer}-->