<!--{template header}-->
<!--{eval $adlist = $this->fromcache("adlist");}-->

<script src="{SITE_URL}static/css/bianping/js/navstatus.js"></script>
<div class="container index">
    <div class="row">
    <div class="col-xs-16 main" style ="padding-top:10px">
    <!--文章分类-->
    <ol class="breadcrumb">
        <li class="frist"><a href="{url topic/default/all}">全部分类</a></li>
        <!--{loop $navlist $nav}-->
        <li ><a href="{url topic/default/$nav['id']}">{$nav['name']}</a></li>
        <!--{/loop}-->
        <!--{if $cid!='all'}--> <li class="active">{$category['name']}</li><!--{/if}-->

    </ol>

            <ul class="nav navbar-nav clearfix">
                <!--{loop $sublist $index $sub}-->
                <!--{if $sub['id']==$cid}-->
                <li>
                <a  title="{$sub['name']}"  href="{url topic/default/$sub['id']}">
                 <span class="text-danger bold"> {eval echo cutstr($sub['name'],20,'');}</span>

                <span class="label  label-danger">{$sub['topics']}</span>
                
                </a>
               </li>
                <!--{else}-->
                <li><a title="{$sub['name']}"  href="{url topic/default/$sub['id']}">
                {eval echo cutstr($sub['name'],20,'');} <span class="label  ">{$sub['topics']}</span></a>
         
                 
                </li>
                <!--{/if}-->
                <!--{/loop}-->
            </ul>  


         
     

    <div class="split-line" style="clear:left" ></div>
    <div id="list-container">
     <!--{if $topiclist==null}-->
     <div class="text"><span>目前还没有发布过文章</span> </div>
        <!--{/if}-->
    <!-- 文章列表模块 -->
    <ul class="note-list" >
        <!--{loop $topictoplist $index $topictop}-->
        <li id="note-{$topictop['id']}" data-note-id="{$topictop['id']}" {if $topictop['image']!=null}  class="have-img" {else}class="" {/if}>
        {if $topictop['image']!=null}
        <a class="wrap-img"  href="{url topic/getone/$topictop['id']}"  target="_blank">
            <img src="{$topictop['image']}">
        </a>
        {/if}
        <div class="content">
            <div class="author">
                <a class="avatar" target="_blank" href="{url user/space/$topictop['authorid']}" onmouseover="pop_user_on(this,$topictop['authorid'],'text')" onmouseout="pop_user_out()" >
                    <img src="{$topictop['avatar']}" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="{url user/space/$topictop['authorid']}">{$topictop['author']}</a>
                <span class="time" data-shared-at="{$topictop['format_time']}">{$topictop['format_time']}</span>
                <img src="{SITE_URL}static/css/images/zhiding.png" class="topcontent">
            </div>
            </div>
            <a class="title" target="_blank"   href="{url topic/getone/$topictop['id']}"  > <h3>  {$topictop['title']} <small>{$topictop['srcs']}</small></h3> </a>
            <p class="abstract">
                {eval echo strip_tags($topictop['describtion']);}

            </p>
            <div class="meta">

                <a target="_blank"  href="{url topic/getone/$topictop['id']}" >
                    <i class="fa fa-eye"></i> {$topictop['views']}
                </a>        <a target="_blank"   href="{url topic/getone/$topictop['id']}#comments" >
                <i class="fa fa-comment-o"></i> {$topictop['articles']}
            </a>      <span><i class=" fa fa-heart-o"></i>  {$topictop['likes']}</span>
                <!--{if $user['grouptype']==1}-->
                <a href="{url topic/cancelindextop/$topicdata['id']}" >
                    <span>取消置顶</span>
                </a>
                <!--{/if}-->
            </div>
        </div>
        </li>
        <!--{/loop}-->


             <!--{loop $topiclist $index $topic}-->   
                
   <li id="note-{$topic['id']}" data-note-id="{$topic['id']}" {if $topic['image']!=null}  class="have-img" {else}class="" {/if}>
    {if $topic['image']!=null}  
      <a class="wrap-img"  href="{url topic/getone/$topic['id']}"  target="_blank">
            <img src="{$topic['image']}">
        </a>
            {/if}
        <div class="content">
            <div class="author">
        <a class="avatar" target="_blank" href="{url user/space/$topic['authorid']}" onmouseover="pop_user_on(this,$topic['authorid'],'text')" onmouseout="pop_user_out()" >
                    <img src="{$topic['avatar']}" alt="96">
                </a>      <div class="name">
                <a class="blue-link" target="_blank" href="{url user/space/$topic['authorid']}">{$topic['author']}</a>
                <span class="time" data-shared-at="{$topic['format_time']}">{$topic['format_time']}</span>
            </div>
            </div>
            <a class="title" target="_blank"   href="{url topic/getone/$topic['id']}"  > <h3>  {$topic['title']} <small>{$topic['srcs']}</small></h3> </a>
            <p class="abstract">
                {eval echo strip_tags($topic['describtion']);}
                
            </p>
            <div class="meta">

                <a target="_blank"  href="{url topic/getone/$topic['id']}" >
                    <i class="fa fa-eye"></i> {$topic['views']}
                </a>        <a target="_blank"   href="{url topic/getone/$topic['id']}#comments" >
                <i class="fa fa-comment-o"></i> {$topic['articles']}
            </a>      <span><i class=" fa fa-heart-o"></i>  {$topic['likes']}</span>
            </div>
        </div>
    </li>
  
    <!--{/loop}-->

    </ul>
    <!-- 文章列表模块 -->
    </div>

        <!--nav footer-->
         <div class="pages">{$departstr}</div>

    </div>

    <!--右边栏目-->
    <div class="col-xs-7 col-xs-offset-1 aside rightpanel">

   <!--{template sider_author}-->
            
                  <!--{template sider_hotarticle}-->
    </div>





        </div>


    </div>

<script>
    nav_status('知识库');
</script>
<!--{template footer}-->