  <div class="main-top">
  <a class="avatar" href="{url user/default}">
    <img src="{$user['avatar']}" alt="240">
</a>
    <a class="btn btn-success  follow" href="{url user/profile}"><i class="fa fa-gear"></i><span>个人设置</span></a>
  

  <div class="title">
    <a class="name" href="/u/yZq3ZV">{$user['username']} {$user['realname']} </a>
    
  </div>
   <div  class="instr">
       <ul>
           <li><strong>部门</strong>  {$user['adminunit']} </li>
           <li><strong>职务</strong>  {$user['introduction']}</li>
           <li><strong>联系方式</strong> {$user['phone']}</li>
           <li class="level"><strong>等级</strong>  </li>
           <li class="score" ><strong>积分</strong> {$user['credit1']}</li>
           <li class="riche" ><strong>财富</strong> {$user['credit2']}</li>
       </ul>

   </div>
  <div class="info">
    <ul>
      <li>
        <div class="meta-block">
          <a href="{url user/answer/1}">
            <p>{$user['answers']}</p>
            回答 <i class="fa fa-angle-right"></i>
</a>        </div>
      </li>
      <li>
        <div class="meta-block">
          <a href="{url user/ask/1}">
            <p>{$user['questions']}</p>
            提问 <i class="fa fa-angle-right"></i>
</a>        </div>
      </li>
        <li>
        <div class="meta-block">
         <a href="{url topic/userxinzhi/$user['uid']}">
            <p>{$user['articles']}</p>
            文章 <i class="fa fa-angle-right"></i>
</a>        </div>
      </li>
      <li>
        <div class="meta-block">
         
            <p>{$user['followers']}</p>
            粉丝 
       </div>
      </li>
      <li>
        <div class="meta-block">
         
            <p>{$user['attentions']}</p>
            关注用户
       </div>
      </li>
      <li>
        <div class="meta-block">
          <p>{$user['supports']}</p>
          <div>被赞</div>
        </div>
      </li>
    </ul>
  </div>
</div>





