<!--{eval global $starttime,$querynum;$mtime = explode(' ', microtime());$runtime=number_format($mtime[1] + $mtime[0] - $starttime,6); $setting=$this->setting;$user=$this->user;$headernavlist=$this->nav;$regular=$this->regular;}-->
<link href="{SITE_URL}static/css/dist/css/zui.min.css" rel="stylesheet">
<div class="poploginform">
    <ul style="font-size: 17px">
        <li>
            1.请找到 授权服务器下的  \LicenseCenter\Digiwin.E10.License.xml 文件
        </li>
        <li>
            2.使用文本编辑器(如记事本等)打开这个文件
        </li>
        <li>
            3.在文档第一个段落，可以看到客户编号，如下红框内的编码即为客户编号：
            <img src="{SITE_URL}static/css/images/customerCode.png">
        </li>
    </ul>
    <script type="text/javascript">

    </script>

</div>
