@CHARSET "UTF-8";

/*活跃用户*/

.active-list{ padding:15px 0 10px 15px;text-align: center;}
.active-list li{ float:left; padding:10px 15px; width:105px;}
.active-list  img{border-radius: 3px 3px 3px 3px;height: 80px;width: 80px;}
.active-list .name{ display:block; margin:3px 0 0; height:24px; line-height:24px; overflow:hidden;}


/*分页模块*/
.pages{ padding:10px 0px 10px 0px; font-family:Tahoma; font-weight:bold;}
.pages a,.pages strong,.pages span{ display:inline-block; padding:0 9px; margin:0 2px; min-width:10px; _width:10px; white-space:nowrap; height:27px; line-height:27px; text-align:center; font-size:14px; font-weight:normal;}
.pages a{ border:1px solid #d6d6d6; background:#fff;}
.pages a:hover{ color:#333; background-color:#e3e3e3; text-decoration:none;}
.pages strong{border:1px solid #d6d6d6; background-color:#F9F9F9; color:#333; font-weight:bold;}
.pages span{color: #999999;font-size: 12px;}



/*左边的问题列表*/
.right-list,.left-expert-list{ padding:4px 10px 5px;}
.last {padding-bottom:12px;}
.right-list li{ position:relative; padding:0 0 0 26px; height:28px; line-height:28px; overflow:hidden;}
.right-list em{ position:absolute; top:6px; left:0; display:block; width:16px; height:16px; font-size:10px; line-height:16px; text-align:center;-webkit-text-size-adjust:none;}
.right-list .n1{ background:#FF9900; color:#fff;}
.right-list .n2{ background:#e5e5e5; color:#666;}
.right-list .credit{float: right;color:#FF8100;margin-right: 5px;}

