@CHARSET "UTF-8";


/*问答分类页*/
.classifymod .title{background: url(category_title.png) no-repeat scroll 0 8px rgba(0, 0, 0, 0);padding: 0 0 0 20px;font-size: 14px;font-weight: bold;margin-left: 30px;}
.classifymod-list{ padding:0px 0 15px 10px;margin-left: 25px;}
.classifymod-list li{ float:left; width:150px; height:30px; font-size:14px; line-height:30px;font-family: "microsoft yahei";}
.classifymod-list li em{ color:#999;}
.q-tabmod{ padding:5px 10px;}
.q-tabmod li{ padding:12px 0 5px;}
.q-tabmod .new{background: none repeat scroll 0 0 #FEFFD8;}
.q-tabmod li h3{ height:30px; font-size:16px; line-height:30px; font-weight:normal; overflow:hidden;}
.q-tabmod li h3 a{ text-decoration:underline;}
.q-tabmod li p{ line-height:20px;}
.q-tabmod li .type{ margin:0 0 0 5px; color:#999;}
.q-tabmod .related{ padding:2px 0 0; height:22px; line-height:22px;}
.q-tabmod .pv,.q-tabmod .answer-number{ float:right; color:#999;}
.q-tabmod .answer-number{ padding:0 0 0 12px;}
.q-tabmod .time{ padding:0 0 0 12px; color:#9c9c9c;}
.suggest-header{font-size: 14px;font-family: "microsoft yahei";}
.suggest-item-inner {padding: 12px 15px;}
.suggest-item-inner .image-link { float: left;margin: 2px 0 0;}
.suggest-item-inner .image-link img{border-radius: 3px;height: 52px;width: 52px;}
.suggest-item-inner .item-main {overflow: hidden;padding: 0 0 0 15px;}
.suggest-item-inner .item-link {font-size: 14px;font-weight: 700;}
.item-info-major {color: #666666;}
.item-info-minor {color: #999999;}
.q-tabmod .zg-right{float: right;}
/*我的提问*/
.my-answerbox{ padding:10px 30px 10px 20px; border:1px solid #D5D5D5;}
.my-answerbox .title span{font-size: 12px;}
.my-answerbox .q-tabmod{ padding:0;}
.my-answerbox .gold{color:#FF6600;}
.my-answerbox .q-tabmod li{ padding:8px 0;border-bottom:solid 1px #F3F3F3;}
.my-answerbox .q-tabmod .li-hover{background-color:#E8EFF5;}
.my-answerbox .q-tabmod .li-hover .detail{cursor:pointer;}
.my-answerbox .q-tabmod h3{font-size:14px;font-family: "microsoft yahei";}
.my-answerbox .q-tabmod a{ text-decoration:none;}
.my-answerbox .q-tabmod a:hover{ text-decoration:underline;}
.my-answerbox .q-tabmod .pv,.my-answerbox .q-tabmod .answer-number{ float:left;}
.my-answerbox .answer-number span{padding:0 5px 0 5px;}
.my-answerbox .ico{ float:left; position:relative; margin:-5px 0 0; padding:0 0 3px 4px; height:13px; font-size:10px; line-height:13px; color:#fff; -webkit-text-size-adjust:none;background-position:-193px -204px;}
.my-answerbox .ico em{ padding:0 4px 0 0; display:inline-block; background-position:100% -204px; color:#fff;}
.my-answerbox .q-tabmod .related{ padding:6px 0 0 0;}
.my-answerbox .q-tabmod .msgcontent{float: left;width: 600px;word-wrap:break-word;word-break:normal;}
.msgcontent img{max-width: 500px;}
.my-answerbox .q-tabmod .avatar{float: left; padding:10px 0px 10px 10px;}
.my-answerbox .q-tabmod .avatar img{margin-right:15px;width:42px;height:42px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.my-answerbox .manage-box{margin-left: 58px;padding: 10px;}
.my-answerbox .manage-box2{padding: 10px;}
.my-answerbox .pages{ padding:10px 0 ;}

/*动态*/
.msgcontent .source{color:#999999;line-height: 25px;}
.msgcontent .source a{color:#999999;}
.msgcontent .source a:hover{color:#134BA0;}
.msgcontent .source .time{color: #999999;display: inline-block;float: right;font-size: 12px;margin-left: 2px;}
.msgcontent .title{font-size: 14px;font-weight: normal;padding: 0;height: 26px;line-height: 26px;}
.msgcontent .dot{color: #BBBBBB;display: inline-block;font-family: Arial;padding: 0 3px;}

.msgcontent .quote{background: none repeat scroll 0 0 #F5F5F5;border:1px solid #EEE;border-width:1px 0 0 1px;padding:10px 5px 5px 10px;min-height:52px;margin-top: 10px;}
.msgcontent .quote .avatar{padding: 0;}


/*左边的问题列表*/
.right-list,.left-expert-list{ padding:4px 10px 5px;}
.last {padding-bottom:12px;}
.right-list li{ position:relative; padding:0 0 0 26px; height:28px; line-height:28px; overflow:hidden;}
.right-list em{ position:absolute; top:6px; left:0; display:block; width:16px; height:16px; font-size:10px; line-height:16px; text-align:center;-webkit-text-size-adjust:none;}
.right-list .n1{ background:#FF9900; color:#fff;}
.right-list .n2{ background:#e5e5e5; color:#666;}
.right-list .credit{float: right;color:#FF8100;margin-right: 5px;}

/*分页模块*/
.pages{ padding:10px 0px 10px 0px; font-family:Tahoma; font-weight:bold;}
.pages a,.pages strong,.pages span{ display:inline-block; padding:0 9px; margin:0 2px; min-width:10px; _width:10px; white-space:nowrap; height:27px; line-height:27px; text-align:center; font-size:14px; font-weight:normal;}
.pages a{ border:1px solid #d6d6d6; background:#fff;}
.pages a:hover{ color:#333; background-color:#e3e3e3; text-decoration:none;}
.pages strong{border:1px solid #d6d6d6; background-color:#F9F9F9; color:#333; font-weight:bold;}
.pages span{color: #999999;font-size: 12px;}

/*问题关注*/
.question_followbox{color:#999999;}
.question_followbox .overview{margin: 0 0 10px;}
.question_followbox .overview strong{margin-right:5px;}
.question_followbox .follower_list{margin: 0 0 10px;}
.question_followbox .follower_list img{height: 25px;width: 25px;border-radius:3px;}


/*专家列表*/
.left-expert-list li{ height:68px; line-height:20px; overflow:hidden; vertical-align:middle;}
.left-expert-list h3{ display:inline-block; width:120px; font-size:12px; font-weight:normal; vertical-align:baseline;}
.left-expert-list span{ float:left; padding:0 15px 0 0px; color:#999;  overflow:hidden; text-align:left;}
.left-expert-list p a{ color:#333;}
.left-expert-list p .invite{ color:#60A506;width: 150px;float: left;}
.left-expert-list .pic{ float:left; width:50px; margin:5px 10px 0 0;}

.rtitle{margin-left:10px;padding:10px 10px 10px 0; }
.rcontent{margin-left:10px;margin-bottom: 15px;}
.rtitle a{font-size:14px;}
.rcontent h3{line-height: 25px;height: 22px;font-weight:normal;font-size: 14px;font-family:"Microsoft YaHei";}
.rcontent span{float: left;line-height: 22px;width: 230px;margin-top:6px;}

/*热门标签*/
.hot-tags{ padding:5px 0 10px 10px;}
.hot-tags a{ display:inline-block; padding:2px 8px 1px; margin:0 4px 4px 0; height:18px; line-height:14px; color:#666; background:#E7F3F9; }
.hot-tags a:hover{background:#68B2FC; color:#fff; text-decoration:none;}
